* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --title-font: "Yeseva One", cursive;
  --secondary-font: "Poppins", sans-serif;
  --section-margin-top: 50px;
  --section-margin-bottom: 50px;
  --section-padding-top: 50px;
  --section-padding-bottom: 50px;
  --color-black: #333333;
  --color-yellow: #ffad5a;
  --color-text: #3e3e3e;
  --color-pink: #ff5959;
  --color-pink-dark: #f33f3f;
}

/****** Global Styles ******/

body {
  font-family: var(--secondary-font);
}

.container {
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--section-margin-top);
  margin-bottom: var(--section-margin-bottom);

  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.yellow {
  color: var(--color-yellow);
}

.btn {
  outline: none;
  border: none;
  background-color: var(--color-pink);
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s background-color ease;
}

.btn:hover {
  background-color: var(--color-pink-dark);
}

.section__title-big {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-black);
}

.section__title-small {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--color-black);
}

.section__paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-text);
  padding-right: 140px;
}

.section__img {
  width: 80%;
  object-fit: contain;
}

.flex {
  display: flex;
  align-items: center;
}

/****** Section Styles ******/

/* Focus section */
.focused__left {
  width: 50%;
}

.focused__title {
  font-family: var(--title-font);
  color: var(--color-black);
  font-size: 60px;
  position: relative;
  padding-left: 20px;
}

.focused__title::before {
  content: "";
  position: absolute;
  height: 82%;
  width: 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-pink);
  border-radius: 10px;
}

.focused__bottom-text {
  margin-top: 15px;
  color: var(--color-text);
  font-size: 14px;
}

.focused__right {
  width: 50%;
  text-align: center;
}

.focused__right img {
  width: 70%;
  object-fit: contain;
}

/* Mission Section */

.mission__card-img {
  width: 40%;
  object-fit: contain;
}

.mission__card-title {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mission__card-description {
  color: var(--color-text);
  font-size: 14px;
}

.mission__card {
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 26px;
  padding: 50px 40px;
  margin: 10px;
}

.mission__card.second {
  background-color: rgba(255, 89, 89, 0.1);
}
.mission__card.third {
  background-color: #fff4d6;
}

/* Develop Section */

.develop {
  background-image: url("images/shapes/shape-1.png");
  background-position: 0% 40%;
  background-size: 170px;
  background-repeat: no-repeat;
}

.develop__left {
  width: 40%;
  text-align: right;
}

.develop__right {
  width: 60%;
  padding-left: 70px;
}

/* Community Section */

.community {
  background-image: url("images/shapes/shape-1.png");
  background-position: 98% 100%;
  background-size: 170px;
  background-repeat: no-repeat;
}

.community__left {
  width: 60%;
  padding-right: 70px;
}

.community__right {
  width: 40%;
}

/* Skills Section */

.skills__description {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color-text);
}

.skills__wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__card {
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  margin: 10px;
  padding: 30px;
  flex: 1 0 17%;
}

.skills__card-img img {
  width: 40%;
}

.skills__card-title {
  color: var(--color-black);
  font-weight: 600;
  margin-top: 30px;
  font-size: 18px;
}

/* Footer Section */

footer {
  background-color: black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

footer h2 {
  font-family: "Lobster", cursive;
  font-size: 36px;
}

footer span {
  color: var(--color-pink);
}

footer small {
  color: lightgray;
}
